.role-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.role-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
}

.role-item:hover{
  cursor: pointer;
  border: 1px solid #007bff;
  background-color: #e7f0ff;
}

.margin-bottom {
  margin-bottom: 10px;
}

.border-seleced{
  border: 1px solid #007bff;
  background-color: #e7f0ff;
}


